* {
    box-sizing: border-box;
    /* display: block; */
}

body {
    margin: 100px;
}

.container-fluid > :first-child {
    margin-bottom: 10px;
}



.field {
    width: 400px;
    /* height: 800px; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #cccccc;
}

.exel {
    width: 100px;
    height: 100px;
    padding: 5px;
    border-right: 2px solid #eee;
    border-bottom: 2px solid #eee;
}
.exel:hover {
    cursor:pointer;
}

.red {
    width: 50px;
    height: 50px;
}
.green {
    width: 70px;
    height: 20px;
}
.blue {
    width: 100px;
    height: 10px;
}
.yellow {
    width: 30px;
    height: 30px;
}
.pink::before {
    content: '*2';
}
.orange::before {
    content: '-2';
}
/* .active {
    background-color: whitesmoke;
    border-radius: 50%;
    
} */
.hide {
    display: none;
}

ul li span {
    color: magenta;
    text-transform: uppercase;
}

